.SmallProject {
  font-family: var(--typekit-font-sans);
  background-color: var(--grey-lightest);
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.SmallProject-left {
  flex: 1;
  position: relative;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 16px;
}

.SmallProject-date {
  color: var(--grey-dark);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
}

.SmallProject-title {
  margin-left: -0.04em;
  margin-top: -0.2em;
  font-family: var(--typekit-font-serif);
  font-size: 32px;
  font-weight: 500;
}

.SmallProject-content {
  margin-top: 0.8em;
  font-size: 14px;
  margin-bottom: 1em;
  line-height: 2;
  font-weight: 300;
  color: var(--grey-darker);
}

.SmallProject-figure {
  flex-shrink: 0;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & img {
    flex-shrink: 0;
    flex-basis: 1;
    /* height: 100%; */
    max-height: 100%;
  }
}

.SmallProject-figure.figure-padding {
  margin-left: 20px;
  margin-right: 20px;
}
